@page "{id:int?}"
@model MyPages.Pages.Page.FolderModel
@{
    ViewData["Title"] = "Folder";
}

@if (Model.Folder == null)
{
    <h1>Unauthorized entry</h1>
    <hr />
}
else
{
    <ul class="nav path">

        @foreach (var folder in Model.FoldersPath)
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="/Page/Folder" asp-route-id="@folder.Id">@folder.Name</a>
            </li>
        }
    </ul>
    <hr />
    @if (Model.Folder.Content != null)
    {
        <div id="content"></div>
        <hr />
    }
    <div class="row">
        @foreach (var item in Model.Items)
        {
            string style, href;
            if (item.ItemType == "Folder")
            {
                style = "btn-primary";
                href = "/Page/Folder";
            }
            else
            {
                style = "btn-outline-primary";
                href = "/Page/PageView";
            }
            <div class="col-lg-3 col-md-4 col-6 pl-md-2 pr-md-2 pl-1 pr-1 mt-2 mb-2">
                <a class="btn btn-pages-list @style" asp-page="@href" asp-route-id="@item.Id">@item.Name</a>
            </div>
        }
        <div class="col-lg-3 col-md-4 col-6 pl-md-2 pr-md-2 pl-1 pr-1 mt-2 mb-2">
            <a class="btn btn-pages-list btn-outline-dark" asp-page="/Page/CreateItem" asp-route-id="@Model.Folder.Id">Create</a>
        </div>
    </div>

    @section Scripts {
        <script type="text/javascript">
            $('#content').append(mdToHtml('@Model.Folder.Content'));
        </script>
    }
}
