@page "{id:int?}"
@model MyPages.Pages.Page.PageViewModel
@{
    ViewData["Title"] = "PageView";
}


@section Styles {
    <link rel="stylesheet" href="~/css/folder.css" />
}

@if (Model.PageEntity == null)
{
    <h1>Unauthorized entry</h1>
    <hr />
}
else
{
    <div class="nav row ml-1 mr-1">
        <partial name="_Path" model="@Model.PageEntity" />

        @if (Model.UserType.Equals(PageViewModel.UserTypeEnum.Owner))
            {
            <div class="ml-auto">
                <a class="btn" asp-page="/Page/Update" asp-route-id="@Model.PageEntity.Id" title="Edit"><span class="fa fa-edit"></span></a>
            </div>
            <div class="">
                <a class="btn" asp-page="/Page/Create" asp-route-id="@Model.PageEntity.Id" title="Add page"><span class="fa fa-plus"></span></a>
            </div>
            }
        </div>
        @if (Model.Pages.Count > 0)
        {
            <hr />
            <div class="row sortable">
                @foreach (var item in Model.Pages)
                {
                    <div class="col-lg-3 col-md-4 col-6 pl-md-2 pr-md-2 pl-1 pr-1 mt-2 mb-2 item" id="@item.Id">
                        <button class="btn text-white btn-delete" data-toggle="modal" data-target="#deleteConfirm" data-item-name="@item.Name" data-item-id="@item.Id">&times;</button>
                        <a class="btn btn-pages-list" asp-page="/Page/PageView" asp-route-id="@item.Id" style="background-color:@item.Color"> @item.Name</a>
                    </div>
                }
            </div>
        }
        @if (Model.PageEntity.Content != null)
        {
            <hr />
            <partial name="_Content" model="@Model.PageEntity" />
            <hr />
        }
        <div id="deleteConfirm" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete this element? This process cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger" id="deleteConfirmButton">Delete</button>
                    </div>
                </div>
            </div>
        </div>


        @section Scripts {
            <script type="text/javascript">
            $(() => {
                var itemId;
                $('#deleteConfirm').on('show.bs.modal', (e) => {
                    var button = $(e.relatedTarget);
                    itemId = button.data('item-id');
                });

                $('#deleteConfirmButton').on('click', () => {
                    var url = '/api/Page/' + itemId;
                    $.ajax({
                        type: 'delete',
                        url: url,
                        contentType: 'application/json',
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    }).done(function (e) {
                        window.location.reload();
                    });
                });
                $('.sortable').sortable({
                items: ".item",
                    update: () => {
                        var order = [];
                        $('.sortable .item').each(function (index) {
                            order.push(index + '=' + $(this).attr("id"));
                        });
                        var positions = order.join(';');
                        console.log(positions);

                        var url = '/api/Page/' + @Model.PageEntity.Id;
                        $.ajax({
                        type: 'post',
                            url: url,
                            data: JSON.stringify(positions),
                            contentType: 'application/json',
                            headers: {
                            RequestVerificationToken:
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                        }).done(() => {
                            console.log('success');
                        }).fail(() => {
                            console.log('fail');
                        });
                    }
                }).disableSelection();

            });
            </script>
        }
    }
